body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
#map{
    height:450px;
    border: 1px solid #000;
    margin-bottom: 50px;
}
.main {
    margin-top: 30px;
}
.main-box {
    background-color: #fff;
    margin: 15px 0;
}
.main-box h1, .main-box h4 {
    font-weight: 700;
    text-transform: uppercase;
}
.main-box h1 {
    color: #87B13D;
}
.main-box a {
    color: #5a5a5a;
}
.main-box a:hover {
    color: #87B13D;
    text-decoration: none;
}
.main-box strong {
    font-size: 14px;
    font-weight: normal;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs>li {
}
.nav-tabs>li>a {
    margin: 3px;
    border: none;
    border-radius: 0;
    background-color: #eee;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.nav-tabs>li>a:hover {
    background-color: #87B13D;
    color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
    background-color: #87B13D;
    color: #fff;
    text-decoration: none;
    outline: 0 none;
}
/*===========================
=======nav custom============
=============================*/
.navbar{
    background-color: #fff;
    border: none;
    margin-top: 15px;
}
.navbar-default .navbar-nav li a {
    color: #323232;
    font-size: 16px;
     outline: 0 none;
}
.navbar-default .navbar-nav li a:hover{
    color: #86b233;
     outline: 0 none;
}
.navbar-default .navbar-toggle {
    border:none;
}
.navbar-default .navbar-toggle:hover{
    background-color: #86b233;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #323232;
    width: 35px;
    margin: 7px;
}
.logo{
    min-width: 70px;
    margin: 5px;
}
/*===========================
=======/nav custom============
=============================*/
